@import "tailwindcss";

@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where([data-color-scheme=dark], [data-color-scheme=dark] *));

@theme {
    --color-theme-white: #ffffff;
    --color-theme-black: #1c1c1f;
    --color-back: var(--color-theme-white);
    --color-front: var(--color-theme-black);
    --default-transition-timing-function: cubic-bezier(0, 0.66, 0.33, 1);
    --default-transition-duration: 250ms;
    --spacing-footer-height: 3rem;
    --spacing-main-padding: calc(var(--spacing) * 20);
    --spacing-main-height: calc(100dvh - var(--spacing-footer-height));
    --spacing-main-height-no-padding: calc(100dvh - var(--spacing-footer-height) - var(--spacing-main-padding) * 2);
}

:root:where([data-color-scheme="dark"], [data-color-scheme="dark"] *) {
    --color-front: var(--color-theme-white);
    --color-back: var(--color-theme-black);
}

@layer base {
    :root,
    body {
        background: var(--color-back);
        color: var(--color-front);
    }

    button {
        cursor: pointer;
    }

    ::selection {
        background: var(--color-front);
        color: var(--color-back);
    }

    :focus-visible {
        outline: 4px solid var(--color-back);
        outline-offset: 4px;
    }
}

@layer utilities {
    .inline-link-1,
    .inline-link-2,
    .inline-link-3 {
        user-select: none;
        background-size: 200% 100%;
        background-position: 100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .inline-link-1 {
        background-image: linear-gradient(
            to right,
            var(--color-amber-600) 10%,
            var(--color-emerald-600) 40%,
            var(--color-emerald-600) 50%,
            var(--color-front) 50%
        );
    }

    .inline-link-2 {
        background-image: linear-gradient(
            to right,
            var(--color-teal-600) 10%,
            var(--color-indigo-600) 40%,
            var(--color-indigo-600) 50%,
            var(--color-front) 50%
        );
    }

    .inline-link-3 {
        background-image: linear-gradient(
            to right,
            var(--color-violet-600) 10%,
            var(--color-rose-600) 40%,
            var(--color-rose-600) 50%,
            var(--color-front) 50%
        );
    }

    :root:where([data-color-scheme="dark"], [data-color-scheme="dark"] *) {
        .inline-link-1 {
            background-image: linear-gradient(
                to right,
                var(--color-amber-400) 10%,
                var(--color-emerald-400) 40%,
                var(--color-emerald-400) 50%,
                var(--color-front) 50%
            );
        }

        .inline-link-2 {
            background-image: linear-gradient(
                to right,
                var(--color-teal-400) 10%,
                var(--color-indigo-400) 40%,
                var(--color-indigo-400) 50%,
                var(--color-front) 50%
            );
        }

        .inline-link-3 {
            background-image: linear-gradient(
                to right,
                var(--color-violet-400) 10%,
                var(--color-rose-400) 40%,
                var(--color-rose-400) 50%,
                var(--color-front) 50%
            );
        }
    }

    .inline-link-1:hover,
    .inline-link-1:focus-visible,
    .inline-link-2:hover,
    .inline-link-2:focus-visible,
    .inline-link-3:hover,
    .inline-link-3:focus-visible {
        background-position: 0;
    }

    .menu-icon-open-enter {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
    }

    .menu-icon-open-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-open-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-open-exit-active {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-enter {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
    }

    .menu-icon-close-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-close-exit-active {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-enter {
        opacity: 0;
        transform: scale(125%);
    }

    .menu-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-exit {
        opacity: 1;
        transform: none;
    }

    .menu-exit-active {
        opacity: 0;
        transform: scale(125%);
        transition:
            opacity 200ms,
            transform 200ms;
    }
}
