CREATE ROLE ${DB_USERNAME} LOGIN PASSWORD '${DB_PASSWORD}';
GRANT CONNECT ON DATABASE ${POSTGRES_DB} TO ${DB_USERNAME};

GRANT USAGE ON SCHEMA public TO ${DB_USERNAME};
GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO ${DB_USERNAME};
GRANT USAGE, SELECT ON ALL SEQUENCES IN SCHEMA public TO ${DB_USERNAME};

ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO ${DB_USERNAME};
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT USAGE, SELECT ON SEQUENCES TO ${DB_USERNAME};
