@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-theme-white: #ffffff;
    --color-theme-black: #18181f;
    --color-theme-light: var(--color-emerald-500);
    --color-theme-dark: var(--color-emerald-700);
    --ease-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --ui-bg: var(--color-theme-white);
    --ui-primary: var(--color-theme-dark);
    --ui-bg-inverted: var(--color-theme-black);
    --ui-bg-elevated: rgba(24, 24, 31, 0.15);
    --color-border-accented: var(--ui-border-accented);
    --color-back: var(--color-theme-white);
    --ui-text-inverted: var(--color-back);
    --color-front: var(--color-theme-black);
    --default-transition-timing-function: cubic-bezier(0, 0.66, 0.33, 1);
    --default-transition-duration: 250ms;
    --spacing-footer-height: 3rem;
    --spacing-main-padding: calc(var(--spacing) * 16);
    --spacing-main-height: 100dvh;
    --spacing-main-height-no-padding: calc(100dvh - var(--spacing-main-padding) * 2);
    --breakpoint-xs: 25rem;
    --breakpoint-2xs: 20rem;
}

:root:where(.dark, .dark *) {
    --color-front: var(--color-theme-white);
    --color-back: var(--color-theme-black);
    --ui-primary: var(--color-theme-light);
    --ui-bg-elevated: rgba(255, 255, 255, 0.15);
    --ui-bg: var(--color-theme-black);
    --ui-bg-inverted: var(--color-theme-white);
    --ui-border: #4e4e65;
    --ui-border-accented: #4e4e65;
}

@layer base {
    :root,
    body {
        background: var(--color-back);
        color: var(--color-front);
        font-family: Jost, sans-serif;
    }
    :root[lang="ja-JP"],
    :root[lang="ja-JP"] body {
        font-family: "Noto Sans JP", Jost, sans-serif;
    }

    button,
    a {
        cursor: pointer;
    }

    ::selection {
        background: var(--color-front);
        color: var(--color-back);
    }

    :focus-visible,
    button:focus-visible {
        outline: 4px solid var(--color-front);
        outline-offset: 4px;
    }
}

@layer utilities {
    .inline-link {
        user-select: none;
        background-size: 200% 100%;
        background-position: 100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 150ms cubic-bezier(0.4, 0, 0.2, 1);
        background-image: linear-gradient(
            to right,
            var(--ui-primary) 10%,
            var(--ui-primary) 50%,
            var(--color-front) 50%
        );
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inline-link:hover,
    .inline-link:focus-visible {
        background-position: 0;
    }

    .menu-icon-open-enter {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
    }

    .menu-icon-open-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-open-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-open-exit-active {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-enter {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
    }

    .menu-icon-close-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-close-exit-active {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-enter {
        opacity: 0;
        transform: scale(125%);
    }

    .menu-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-exit {
        opacity: 1;
        transform: none;
    }

    .menu-exit-active {
        opacity: 0;
        transform: scale(125%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .draggable-list-move,
    .draggable-list-enter-active,
    .draggable-list-leave-active {
        transition: transform 0.5s ease;
        z-index: 5;
    }

    .draggable-list-enter-active {
        transition:
            opacity 0.5s ease,
            transform 0.5s ease;
    }

    .draggable-list-enter-from,
    .draggable-list-leave-to {
        opacity: 0;
        transform: translateX(3rem);
    }

    .draggable-list-leave-active {
        position: absolute;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.25s ease;
        transform-origin: top;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
        transform: scale(90%);
    }

    .ghost {
        visibility: hidden;
    }

    .list-move, /* apply transition to moving elements */
    .list-enter-active,
    .list-leave-active {
        transition: all 0.5s ease;
    }

    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        transform: translateX(3rem);
    }

    /* ensure leaving items are taken out of layout flow so that moving
       animations can be calculated correctly. */
    .list-leave-active {
        position: absolute;
    }
}
