@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-theme-white: #ffffff;
    --color-theme-black: #18181f;
    --ease-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --ui-bg: var(--color-theme-white);
    --ui-primary: var(--color-violet-500);
    --ui-secondary: var(--color-rose-500);
    --ui-bg-inverted: var(--color-theme-black);
    --ui-bg-elevated: rgba(24, 24, 31, 0.15);
    --color-back: var(--color-theme-white);
    --color-front: var(--color-theme-black);
    --default-transition-timing-function: cubic-bezier(0, 0.66, 0.33, 1);
    --default-transition-duration: 250ms;
    --spacing-footer-height: 3rem;
    --spacing-main-padding: calc(var(--spacing) * 20);
    --spacing-main-height: calc(100dvh - var(--spacing-footer-height));
    --spacing-main-height-no-padding: calc(100dvh - var(--spacing-footer-height) - var(--spacing-main-padding) * 2);
}

:root:where(.dark, .dark *) {
    --color-front: var(--color-theme-white);
    --color-back: var(--color-theme-black);
    --ui-bg-elevated: rgba(255, 255, 255, 0.15);
    --ui-bg: var(--color-theme-black);
    --ui-bg-inverted: var(--color-theme-white);
    --ui-border: #4e4e65;
    --ui-border-accented: #4e4e65;
}

@layer base {
    :root,
    body {
        background: var(--color-back);
        color: var(--color-front);
        font-family: Jost, sans-serif;
    }
    :root[lang="ja-JP"],
    :root[lang="ja-JP"] body {
        font-family: "Noto Sans JP", Jost, sans-serif;
    }

    button, a {
        cursor: pointer;
    }

    ::selection {
        background: var(--color-front);
        color: var(--color-back);
    }

    :focus-visible, button:focus-visible {
        outline: 4px solid var(--color-front);
        outline-offset: 4px;
    }
}

@layer utilities {
    .inline-link {
        user-select: none;
        background-size: 200% 100%;
        background-position: 100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 150ms cubic-bezier(0.4, 0, 0.2, 1);
        background-image: linear-gradient(
            to right,
            var(--inline-link-c1) 10%,
            var(--inline-link-c2) 40%,
            var(--inline-link-c2) 50%,
            var(--inline-link-bg) 50%
        );
    }

    .inline-link {
        --inline-link-c1: var(--color-violet-600);
        --inline-link-c2: var(--color-rose-600);
        --inline-link-bg: var(--color-front);
    }

    :root:where(.dark, .dark *) {
        .inline-link {
            --inline-link-c1: var(--color-violet-400);
            --inline-link-c2: var(--color-rose-400);
        }
    }

    .inline-link:hover,
    .inline-link:focus-visible {
        background-position: 0;
    }

    .menu-icon-open-enter {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
    }

    .menu-icon-open-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-open-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-open-exit-active {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-enter {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
    }

    .menu-icon-close-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-close-exit-active {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-enter {
        opacity: 0;
        transform: scale(125%);
    }

    .menu-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-exit {
        opacity: 1;
        transform: none;
    }

    .menu-exit-active {
        opacity: 0;
        transform: scale(125%);
        transition:
            opacity 200ms,
            transform 200ms;
    }
}
