@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover-none {
    @media (hover: none) {
        @slot;
    }
}

@font-face {
    font-family: Jost;
    src:
        local("Jost Regular Italic"),
        local("Jost Italic"),
        url(../../../public/fonts/pGQsCkOuLJPX_xPEZzFHyjri7PycYO2bVMmEj_-mV-g-aeHOVzh6qFkcA6P0gXYSi1jkGQ60TebtOsn1gYbv9Bk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Regular Italic"),
        local("Jost Italic"),
        url(../../../public/fonts/1o9nrJDPE8EyFdhRi1CMpEsM8ybyuTTMM9oh2nbYoUk-gljICsnKRWkM_gd8yQ5PHkSwAyHqpVvXYn6TSqXxzY0.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium Italic"),
        url(../../../public/fonts/1o9nrJDPE8EyFdhRi1CMpEsM8ybyuTTMM9oh2nbYoUk-gljICsnKRWkM_gd8yQ5PHkSwAyHqpVvXYn6TSqXxzY0.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium Italic"),
        url(../../../public/fonts/uxf9bHnmhv0H4ZrNPlIesLBd8lL3tXFkOnS4Nncm81s-nJKSom9Dq54mQPodvLVJ7xfLiLlZQWT44MmGUAxmnzk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold Italic"),
        url(../../../public/fonts/uxf9bHnmhv0H4ZrNPlIesLBd8lL3tXFkOnS4Nncm81s-nJKSom9Dq54mQPodvLVJ7xfLiLlZQWT44MmGUAxmnzk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold Italic"),
        url(../../../public/fonts/pGQsCkOuLJPX_xPEZzFHyjri7PycYO2bVMmEj_-mV-g-aeHOVzh6qFkcA6P0gXYSi1jkGQ60TebtOsn1gYbv9Bk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold Italic"),
        url(../../../public/fonts/uxf9bHnmhv0H4ZrNPlIesLBd8lL3tXFkOnS4Nncm81s-nJKSom9Dq54mQPodvLVJ7xfLiLlZQWT44MmGUAxmnzk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Regular"),
        local("Jost"),
        url(../../../public/fonts/N2CmVuCq6J94uL2XLbx7rtowDpMDl8wW6hOo-SQGQ5Q-10wNLVsx8mN0r0xp_Jku8zis28Y0cy4bE6vhFm07Lqo.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Regular"),
        local("Jost"),
        url(../../../public/fonts/Cl5hWByjLNrm9Ew_xFu5q2F3elODRzDWv6Su1zgaEBM-QcXAERN1eiNMJ7sMkFe2EMaaNxFxOIPygO2p_x-06jc.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium"),
        url(../../../public/fonts/Cl5hWByjLNrm9Ew_xFu5q2F3elODRzDWv6Su1zgaEBM-QcXAERN1eiNMJ7sMkFe2EMaaNxFxOIPygO2p_x-06jc.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold"),
        url(../../../public/fonts/k8KvdIHvgy-kQD0q2Ur5DpRbBtlt5cDdgW9WVKRdWbM-GjYvIBYWw49gSkrisuimFD2_F83ZGI0nOSu1yG_6h-w.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold"),
        url(../../../public/fonts/k8KvdIHvgy-kQD0q2Ur5DpRbBtlt5cDdgW9WVKRdWbM-GjYvIBYWw49gSkrisuimFD2_F83ZGI0nOSu1yG_6h-w.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold"),
        url(../../../public/fonts/N2CmVuCq6J94uL2XLbx7rtowDpMDl8wW6hOo-SQGQ5Q-10wNLVsx8mN0r0xp_Jku8zis28Y0cy4bE6vhFm07Lqo.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Regular Italic"),
        local("Jost Italic"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-QLjxUhPXT6JzhtaToVavRd8rZeDjQCXbhBe4UgFjwHI.woff)
            format(woff);
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold Italic"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-6m6c1ulXeoh7b8c3pLO_RYVHqYC-AWKT35D1xgoRXnU.woff)
            format(woff);
    font-display: swap;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Regular"),
        local("Jost"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-XVjhb_ajx1HzQ1ChEafrHk1eUO_gxbZYVzhe6B38d1s.woff)
            format(woff);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-TTrh9_5nvHjgnzaIcdG2QG_58-eu-H75pGvLaZCcGhs.woff)
            format(woff);
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-rS5ZzNKTI9oT_hVy1frhvVsobFKc4EqpF1ZvQBVXwvY.woff)
            format(woff);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Jost Fallback: Arial";
    src: local("Arial");
    size-adjust: 96.007%;
    ascent-override: 111.4502%;
    descent-override: 39.0596%;
    line-gap-override: 0%;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Regular Italic"),
        local("Jost Italic"),
        url(../../../public/fonts/uxf9bHnmhv0H4ZrNPlIesLBd8lL3tXFkOnS4Nncm81s-nJKSom9Dq54mQPodvLVJ7xfLiLlZQWT44MmGUAxmnzk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium Italic"),
        url(../../../public/fonts/pGQsCkOuLJPX_xPEZzFHyjri7PycYO2bVMmEj_-mV-g-aeHOVzh6qFkcA6P0gXYSi1jkGQ60TebtOsn1gYbv9Bk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold Italic"),
        url(../../../public/fonts/pGQsCkOuLJPX_xPEZzFHyjri7PycYO2bVMmEj_-mV-g-aeHOVzh6qFkcA6P0gXYSi1jkGQ60TebtOsn1gYbv9Bk.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold Italic"),
        url(../../../public/fonts/1o9nrJDPE8EyFdhRi1CMpEsM8ybyuTTMM9oh2nbYoUk-gljICsnKRWkM_gd8yQ5PHkSwAyHqpVvXYn6TSqXxzY0.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold Italic"),
        url(../../../public/fonts/1o9nrJDPE8EyFdhRi1CMpEsM8ybyuTTMM9oh2nbYoUk-gljICsnKRWkM_gd8yQ5PHkSwAyHqpVvXYn6TSqXxzY0.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Regular"),
        local("Jost"),
        url(../../../public/fonts/k8KvdIHvgy-kQD0q2Ur5DpRbBtlt5cDdgW9WVKRdWbM-GjYvIBYWw49gSkrisuimFD2_F83ZGI0nOSu1yG_6h-w.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium"),
        url(../../../public/fonts/k8KvdIHvgy-kQD0q2Ur5DpRbBtlt5cDdgW9WVKRdWbM-GjYvIBYWw49gSkrisuimFD2_F83ZGI0nOSu1yG_6h-w.woff2)
            format(woff2);
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium"),
        url(../../../public/fonts/N2CmVuCq6J94uL2XLbx7rtowDpMDl8wW6hOo-SQGQ5Q-10wNLVsx8mN0r0xp_Jku8zis28Y0cy4bE6vhFm07Lqo.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold"),
        url(../../../public/fonts/N2CmVuCq6J94uL2XLbx7rtowDpMDl8wW6hOo-SQGQ5Q-10wNLVsx8mN0r0xp_Jku8zis28Y0cy4bE6vhFm07Lqo.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
        U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost SemiBold"),
        url(../../../public/fonts/Cl5hWByjLNrm9Ew_xFu5q2F3elODRzDWv6Su1zgaEBM-QcXAERN1eiNMJ7sMkFe2EMaaNxFxOIPygO2p_x-06jc.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold"),
        url(../../../public/fonts/Cl5hWByjLNrm9Ew_xFu5q2F3elODRzDWv6Su1zgaEBM-QcXAERN1eiNMJ7sMkFe2EMaaNxFxOIPygO2p_x-06jc.woff2)
            format(woff2);
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium Italic"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-De26kytb0GdNMxJhLOhjeZEZBgi3Cdo7LuSsCJFp1Xo.woff)
            format(woff);
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Bold Italic"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-RNi2KCz3jW91lRlYaR0fnyt_l_-TSnZifdk9LPG9FiY.woff)
            format(woff);
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src:
        local("Jost Medium"),
        url(../../../public/fonts/1ZTlEDqU4DtwDJiND8f6qaugUpa0RIDvQl-v7iM6l54-9tU5NE0cmtR1EbLV8Yd9l0Yd0FMyz8iKG1n7C0pVRAY.woff)
            format(woff);
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@theme {
    --color-theme-white: #ffffff;
    --color-theme-black: #18181f;
    --color-theme-light: var(--color-emerald-500);
    --color-theme-dark: var(--color-emerald-700);
    --ease-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --ui-bg: var(--color-theme-white);
    --ui-primary: var(--color-theme-dark);
    --ui-error: var(--color-rose-600);
    --ui-bg-inverted: var(--color-theme-black);
    --ui-bg-elevated: rgba(24, 24, 31, 0.15);
    --color-border-accented: var(--ui-border-accented);
    --color-back: var(--color-theme-white);
    --ui-text-inverted: var(--color-back);
    --color-front: var(--color-theme-black);
    --default-transition-timing-function: cubic-bezier(0, 0.66, 0.33, 1);
    --default-transition-duration: 250ms;
    --spacing-footer-height: calc(4rem + env(safe-area-inset-bottom));
    --spacing-main-padding: calc(var(--spacing) * 26);
    --spacing-main-height: 100dvh;
    --spacing-main-height-no-padding: calc(100dvh - var(--spacing-main-padding) * 2);
    --breakpoint-xs: 25rem;
    --breakpoint-2xs: 20rem;
    --ui-text: var(--color-front);
}

:root:where(.dark, .dark *) {
    --ui-error: var(--color-rose-500);
    --color-front: var(--color-theme-white);
    --color-back: var(--color-theme-black);
    --ui-primary: var(--color-theme-light);
    --ui-bg-elevated: rgba(255, 255, 255, 0.15);
    --ui-bg: var(--color-theme-black);
    --ui-bg-inverted: var(--color-theme-white);
    --ui-border: #4e4e65;
    --ui-border-accented: #4e4e65;
}

@media (min-width: 25rem) {
    :root {
        --spacing-footer-height: calc(3rem + env(safe-area-inset-bottom));
    }
}

@layer base {
    :root,
    body {
        background: var(--color-back);
        color: var(--color-front);
        font-family: Jost, sans-serif;
    }

    :root[lang="ja-JP"],
    :root[lang="ja-JP"] body {
        font-family: Jost, "Noto Sans JP", sans-serif;
    }

    legend {
        font-weight: 500;
    }

    button,
    a {
        cursor: pointer;
    }

    ::selection {
        background: var(--color-front);
        color: var(--color-back);
    }

    :focus-visible,
    button:focus-visible {
        outline: 4px solid var(--color-front);
        outline-offset: 4px;
    }
}

@layer utilities {
    .inline-link {
        user-select: none;
        background-size: 200% 100%;
        background-position: 100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
        background-image: linear-gradient(
            to right,
            var(--ui-primary) 10%,
            var(--ui-primary) 50%,
            var(--color-front) 50%
        );
    }

    .inline-link-resting {
        text-decoration: underline;
        text-decoration-color: var(--ui-primary);
        background-image: linear-gradient(
            to right,
            var(--color-amber-600) 10%,
            var(--color-amber-600) 50%,
            var(--ui-primary) 50%
        );
    }

    .inline-link-resting:hover,
    .inline-link-resting:focus-visible {
        text-decoration-color: var(--color-amber-600);
    }

    :root:where(.dark, .dark *) {
        .inline-link-resting {
            background-image: linear-gradient(
                to right,
                var(--color-amber-300) 10%,
                var(--color-amber-300) 50%,
                var(--ui-primary) 50%
            );
        }

        .inline-link-resting:hover,
        .inline-link-resting:focus-visible {
            text-decoration-color: var(--color-amber-300);
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inline-link:hover,
    .inline-link:focus-visible {
        background-position: 0;
    }

    .menu-icon-open-enter {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
    }

    .menu-icon-open-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-open-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-open-exit-active {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-enter {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
    }

    .menu-icon-close-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-close-exit-active {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-enter {
        opacity: 0;
        transform: scale(125%);
    }

    .menu-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-exit {
        opacity: 1;
        transform: none;
    }

    .menu-exit-active {
        opacity: 0;
        transform: scale(125%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .draggable-list-move,
    .draggable-list-enter-active,
    .draggable-list-leave-active {
        transition: transform 0.5s ease;
        z-index: 5;
    }

    .draggable-list-enter-active {
        transition:
            opacity 0.5s ease,
            transform 0.5s ease;
    }

    .draggable-list-enter-from,
    .draggable-list-leave-to {
        opacity: 0;
        transform: translateX(3rem);
    }

    .draggable-list-leave-active {
        position: absolute;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.25s ease;
        transform-origin: top;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
        transform: scale(90%);
    }

    .swipe-enter-active,
    .swipe-leave-active {
        transition: all 0.5s ease;
        position: absolute;
    }

    .swipe-enter-from {
        opacity: 0;
        transform: translateX(1.5rem);
    }

    .swipe-leave-to {
        opacity: 0;
        transform: translateX(-1.5rem);
    }

    @media screen and (min-width: 640px) {
        .swipe-enter-from {
            opacity: 0;
            transform: translateX(3rem);
        }

        .swipe-leave-to {
            opacity: 0;
            transform: translateX(-3rem);
        }
    }

    .fade-pure-enter-active,
    .fade-pure-leave-active {
        transition: opacity 0.25s ease;
    }

    .fade-pure-enter-from,
    .fade-pure-leave-to {
        opacity: 0;
    }

    .ghost {
        visibility: hidden;
    }

    .list-move, /* apply transition to moving elements */
    .list-enter-active,
    .list-leave-active {
        transition: all 0.5s ease;
    }

    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        transform: translateX(3rem);
    }

    @media screen and (max-width: 1024px) {
        .list-enter-from,
        .list-leave-to {
            transform: translateX(2rem);
        }
    }

    /* ensure leaving items are taken out of layout flow so that moving
       animations can be calculated correctly. */
    .list-leave-active {
        position: absolute;
    }
}
