@layer utilities {
    .inline-link {
        user-select: none;
        background-size: 200% 100%;
        background-position: 100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
        background-image: linear-gradient(
            to right,
            var(--ui-primary) 10%,
            var(--ui-primary) 50%,
            var(--color-front) 50%
        );
    }

    .inline-link-resting {
        text-decoration: underline;
        text-decoration-color: var(--ui-primary);
        background-image: linear-gradient(
            to right,
            var(--color-amber-600) 10%,
            var(--color-amber-600) 50%,
            var(--ui-primary) 50%
        );
    }

    .inline-link-resting:hover,
    .inline-link-resting:focus-visible {
        text-decoration-color: var(--color-amber-600);
    }

    :root:where(.dark, .dark *) {
        .inline-link-resting {
            background-image: linear-gradient(
                to right,
                var(--color-amber-300) 10%,
                var(--color-amber-300) 50%,
                var(--ui-primary) 50%
            );
        }

        .inline-link-resting:hover,
        .inline-link-resting:focus-visible {
            text-decoration-color: var(--color-amber-300);
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inline-link:hover,
    .inline-link:focus-visible {
        background-position: 0;
    }

    .menu-icon-open-enter {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
    }

    .menu-icon-open-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-open-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-open-exit-active {
        opacity: 0;
        transform: rotateY(-90deg) translateX(-100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-enter {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
    }

    .menu-icon-close-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-icon-close-exit {
        opacity: 1;
        transform: none;
    }

    .menu-icon-close-exit-active {
        opacity: 0;
        transform: rotateY(90deg) translateX(100%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-enter {
        opacity: 0;
        transform: scale(125%);
    }

    .menu-enter-active {
        opacity: 1;
        transform: none;
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .menu-exit {
        opacity: 1;
        transform: none;
    }

    .menu-exit-active {
        opacity: 0;
        transform: scale(125%);
        transition:
            opacity 200ms,
            transform 200ms;
    }

    .draggable-list-move,
    .draggable-list-enter-active,
    .draggable-list-leave-active {
        transition: transform 0.5s ease;
        z-index: 5;
    }

    .draggable-list-enter-active {
        transition:
            opacity 0.5s ease,
            transform 0.5s ease;
    }

    .draggable-list-enter-from,
    .draggable-list-leave-to {
        opacity: 0;
        transform: translateX(3rem);
    }

    .draggable-list-leave-active {
        position: absolute;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.25s ease;
        transform-origin: top;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
        transform: scale(90%);
    }

    .swipe-enter-active,
    .swipe-leave-active {
        transition: all 0.5s ease;
        position: absolute;
    }

    .swipe-enter-from {
        opacity: 0;
        transform: translateX(1.5rem);
    }

    .swipe-leave-to {
        opacity: 0;
        transform: translateX(-1.5rem);
    }

    @media screen and (min-width: 640px) {
        .swipe-enter-from {
            opacity: 0;
            transform: translateX(3rem);
        }

        .swipe-leave-to {
            opacity: 0;
            transform: translateX(-3rem);
        }
    }

    .fade-pure-enter-active,
    .fade-pure-leave-active {
        transition: opacity 0.25s ease;
    }

    .fade-pure-enter-from,
    .fade-pure-leave-to {
        opacity: 0;
    }

    .ghost {
        visibility: hidden;
    }

    .list-move, /* apply transition to moving elements */
    .list-enter-active,
    .list-leave-active {
        transition: all 0.5s ease;
    }

    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        transform: translateX(3rem);
    }

    @media screen and (max-width: 1024px) {
        .list-enter-from,
        .list-leave-to {
            transform: translateX(2rem);
        }
    }

    /* ensure leaving items are taken out of layout flow so that moving
       animations can be calculated correctly. */
    .list-leave-active {
        position: absolute;
    }

    @media (prefers-reduced-motion: no-preference) {
        @keyframes bounce-letter {
            0%,
            100% {
                transform: none;
                animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            }
            50% {
                transform: translateY(-0.66rem);
                animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            }
        }
        .bounce-letter {
            display: inline-block;
            animation: bounce-letter 1s infinite;
        }
        .bounce-letter:nth-of-type(1) {
            animation-delay: 0s;
        }
        .bounce-letter:nth-of-type(2) {
            animation-delay: 0.1s;
        }
        .bounce-letter:nth-of-type(3) {
            animation-delay: 0.2s;
        }
        .bounce-letter:nth-of-type(4) {
            animation-delay: 0.3s;
        }
        .bounce-letter:nth-of-type(5) {
            animation-delay: 0.4s;
        }
        .bounce-letter:nth-of-type(6) {
            animation-delay: 0.5s;
        }
        .bounce-letter:nth-of-type(7) {
            animation-delay: 0.6s;
        }
        .bounce-letter:nth-of-type(8) {
            animation-delay: 0.7s;
        }
        .bounce-letter:nth-of-type(9) {
            animation-delay: 0.8s;
        }
        .bounce-letter:nth-of-type(10) {
            animation-delay: 0.9s;
        }
    }
}
