name: Update Snapshots

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-screenshots:
    runs-on: ubuntu-24.04


    steps:
      - name: Abort if on main
        if: ${{ github.ref_name == 'main' }}
        run: |
          echo "This workflow cannot run on the main branch."
          exit 1

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm ci

      - name: Prepare Nuxt
        run: npm run postinstall

      - name: Update Snapshots
        run: |
          export DOCKER_USER_ID="$(id -u)"
          export DOCKER_GROUP_ID="$(id -g)"
          docker compose -f compose.test.yml run --rm -e CI=true playwright npx playwright test --grep @screenshot -u changed

      - name: Commit Changes
        run: |
          if git status --porcelain | grep .; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"

            git add test-utils/playwright/snapshots
            git commit -m "chore: update Playwright screenshots"
            git push
          else
            echo "No snapshot changes to commit"
          fi
