name: Update Playwright Screenshots

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-screenshots:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Update Snapshots
        run: |
          export DOCKER_USER_ID="$(id -u)"
          export DOCKER_GROUP_ID="$(id -g)"
          docker compose -f compose.test.yml up -d
          docker compose -f compose.test.yml run --rm -e CI=true playwright npx playwright test -u changed

      - name: Commit Changes
        run: |
          if git status --porcelain | grep .; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"

            git add test-utils/playwright/snapshots
            git commit -m "chore: update Playwright screenshots"
            git push
          else
            echo "No snapshot changes to commit"
          fi
